<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Freeman Cheng">
    <meta name="description" content="Freeman Cheng's personal website.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/7a9b915c3d.js" crossorigin="anonymous"></script>

    <title>
        Freeman Cheng | Projects
    </title>
</head>

<body class="light">
    <div id="back-project-page">

    </div>
    <h1>
        HELLO
    </h1>
</body>

</html>