<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Freeman Cheng">
    <meta name="description" content="Freeman Cheng's personal website.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <script src="dist/theme.js"></script>
    <script src="dist/index.js"></script>

    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/index.css">

    <script src="https://kit.fontawesome.com/7a9b915c3d.js" crossorigin="anonymous"></script>

    <title>
        Freeman Cheng
    </title>
</head>

<body class="dark">
    <div id="front-title-page" class="title-page">
        <div class="title">
            <h1>
                Hi, my name is Freeman Cheng.
            </h1>
            <h2>
                Welcome to my website.
            </h2>
        </div>
        <div class="icons">
            <a href="/resume" class="icon">
                <span>
                    <i class="far fa-file-pdf fa-3x"></i>
                </span>
                <p>
                    Resume
                </p>
            </a>
            <a href="/projects" class="icon">
                <span>
                    <i class="far fa-folder-open fa-3x"></i>
                </span>
                <p>
                    Projects
                </p>
            </a>
            <a href="https://github.com/peelstnac" class="icon">
                <span>
                    <i class="fab fa-github-square fa-3x"></i>
                </span>
                <p>
                    Github
                </p>
            </a>
            <a href="/notes" class="icon">
                <span>
                    <i class="far fa-clipboard fa-3x"></i>
                </span>
                <p>
                    Notes
                </p>
            </a>
        </div>

        <div id="toggle-theme">
            <p>
                Toggle theme!
            </p>
            <label class="switch">
                <input id="toggle-theme-input" type="checkbox" autocomplete="off" checked>
                <span class="slider round"></span>
            </label>
        </div>
    </div>
</body>

</html>