<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Freeman Cheng">
    <meta name="description" content="Freeman Cheng's personal website.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="dist/theme.js"></script>
    <script src="dist/projects.js"></script>
    
    <link rel="stylesheet" href="css/common.css">

    <title>
        Freeman Cheng
    </title>
</head>

<body class="dark">
    <p>
        DARK.
    </p>
    <div id="toggle-theme">
        <p>
            Toggle theme!
        </p>
        <label class="switch">
            <input id="toggle-theme-input" type="checkbox" autocomplete="off">
            <span class="slider round"></span>
        </label>
    </div>
</body>

</html>