<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Freeman Cheng">
    <meta name="description" content="Freeman Cheng's personal website.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        Freeman Cheng | Projects
    </title>

    <link rel="stylesheet" href="css/common.css">
    
    <script src="dist/projects.js"></script>
    <script src="dist/theme.js"></script>
</head>

<body class="light">
    <p>
        Under construction.
    </p>        
    <div id="toggle-theme">
        <p>
            Toggle theme!
        </p>
        <label class="switch">
            <input id="toggle-theme-input" type="checkbox" autocomplete="off">
            <span class="slider round"></span>
        </label>
    </div>
</body>
</html>