@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root {
  --icons-flex-direction: row;
}

@media (max-width: 700px) {
  :root {
    --icons-flex-direction: column;
  }
}

body {
  opacity: 0;
  margin: 0;
  padding: 0;

  background-color: var(--color-primary);

  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -ms-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

.title-page {
  position: relative;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: "Rubik", sans-serif;
  text-align: center;
  color: var(--color-secondary);
  background-color: inherit;

  -webkit-transition: background-color 0.5s ease-in-out, color 1s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out, color 1s ease-in-out;
  -ms-transition: background-color 0.5s ease-in-out, color 1s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out, color 1s ease-in-out;
  transition: background-color 0.5s ease-in-out, color 1s ease-in-out;
}

.title h1 {
  margin: 0.5em;
}

.title h2 {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.icons {
  display: flex;
  flex-direction: var(--icons-flex-direction);
  justify-content: center;
  flex-wrap: wrap;
}

.icon {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;

  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.icon span {
  color: var(--color-secondary);

  transition: color 1s ease-in-out;
}

.icon:hover span {
  color: var(--color-hover);

  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -ms-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

.icon p {
  margin: 0.5em 3em 0.5em 3em;
  font-family: "Roboto", sans-serif;
}

#toggle-theme {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);

  font-family: "Roboto", sans-serif;
}

#toggle-theme p {
  margin: 0 0 10px 0;
}
