/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

#back-project-page {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;

  background: -o-linear-gradient(315deg, #24c6dc, #514a9d);

  background: linear-gradient(135deg, #24c6dc, #514a9d);
  -webkit-clip-path: polygon(
    100% 0px,
    100% 38.2%,
    61.8% 61.8%,
    0px 28.2%,
    0px 0px
  );
  clip-path: polygon(100% 0px, 100% 38.2%, 61.8% 61.8%, 0px 28.2%, 0px 0px);
}

body {
  background-color: #fffdfd;
}
